<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506178140099-bf4qrl00te4vr5b9ohbp697er32rq121.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506178140099-bf4qrl00te4vr5b9ohbp697er32rq121</string>
	<key>API_KEY</key>
	<string>AIzaSyDMbg6oIHs4PJ1VTirIv5OXsYM4LL841YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>506178140099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>richardoc.EasyValise</string>
	<key>PROJECT_ID</key>
	<string>easyvalise</string>
	<key>STORAGE_BUCKET</key>
	<string>easyvalise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506178140099:ios:42295e888ed4e928af2f76</string>
</dict>
</plist>